body{
    margin: 0;
    padding: 0;
    background-color: #000;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.btn{
    position: relative;
    text-align: center;
    width:	500px;
    padding: 40px;
    font-size: 35px;
    color:  #00FF00;
    font-family: poppins;
    font-weight: 400;
    border: 5px solid  #00FF00;
    text-transform: uppercase;
    letter-spacing: 15px;
    cursor: pointer;
    border-radius: 100px;
    transition: 1.5s ease;
}
.btn:hover{
    box-shadow: 0 5px 50px 0  #00FF00 inset, 
                0 5px 50px 0  #00FF00,
                0 5px 50px 0  #00FF00 inset,
                0 5px 50px 0  #00FF00;
    text-shadow: 0 0 5px  #00FF00, 0 0 5px  #00FF00;
}